@use './global.scss' as buttons;

.button {
  @include buttons.button-base;
}

.variantOutline {
  @include buttons.button-outline;
}

.variantSolid {
  @include buttons.button-solid;
}

.variantDanger {
  @include buttons.button-danger;
}

.variantText {
  @include buttons.button-text;
}

.sizeDefault {
  padding: clamp(8px, 0.6vw + 6px, 10px) clamp(12px, 1vw + 10px, 16px);
  font-size: clamp(12px, 0.4vw + 11px, 14px);
}

.sizeCompact {
  @include buttons.button-compact;
}

.sizeSquare {
  @include buttons.button-square;
}

.uppercase {
  @include buttons.button-uppercase;
}
