@use './variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--app-bg-color);
  background-image: var(--app-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-text);
}
