@use './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Source+Serif+4:wght@400;600;700&family=Playpen+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1360px;
  font-family: var(--font-base);
  background-color: var(--app-bg-color);
  background-image: var(--app-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-text);
}
