:root {
  --font-base: 'Playpen Sans', 'Nunito', 'Quicksand', 'Segoe UI', sans-serif;
  --color-bg-accent: #fdfdfd;
  --color-surface: rgba(255, 255, 255, 0.712);
  --color-text: #00a2ff;
  --color-border: rgb(0, 119, 255);
  --app-bg-color: #fbf6fa;
  --app-bg-image: url('../../assets/background/ChatGPT_Image_Feb_10_2026_09_46_18_AM_fixed.svg');
}

body[data-theme='light'] {
  --color-bg-accent: #fdfdfd;
  --color-surface: rgba(255, 255, 255, 0.712);
  --color-text: #00a2ff;
  --color-border: rgb(0, 119, 255);
  --app-bg-color: #fbf6fa;
}

body[data-theme='dark'] {
  --color-bg-accent: #0f1822;
  --color-surface: rgba(15, 24, 34, 0.781);
  --color-text: #dada00;
  --color-text-outline: transparent;
  --color-border: rgba(232, 248, 4, 0.829);
  --app-bg-color: #5a5a5a;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), var(--app-bg-image);
}
